* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

body {
    margin: 0 10px;
}

body > div {
    width: 1500px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
}

main {
    margin-top: 20px;
}

.contents {
    width: 800px;
    margin: 0 auto;
}

main > section {
    width: 800px;
    margin: 0 auto;
}

section h3 {
    margin-top: 100px;
}

.imageContainer {
    width: 500px;
}

img {
    width: 100%;
}



@media only screen and (max-width: 1500px) {
    body > div {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    * {
        font-size: 1rem;
    }
    main > section {
        width: 400px;
    }

    .imageContainer {
        width: 400px;
    }


}

@media only screen and (max-width: 500px) {
    * {
        font-size: 0.9rem;
    }

    main > section {
        width: 200px;
    }


    .imageContainer {
        width: 100px;
    }

    .contentsTitle h2 {
        margin-left: 0;
        display: inline;
    }

}




